body {
    background-image: linear-gradient(#20b000, rgb(255, 162, 2));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: center;
}

.form {
    align-content: center;
    justify-content: center;
    margin: 0 70px;
}

.form Button {
    margin: 0 60px;
}




