* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.circle{
    margin: 50px;
    position: relative;
    width: 250px;
    height: 250px;
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.text{
    font-family: 'Bungee Shade', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
}
@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.text span{
    position: relative;
    left: 20%;
    font-size: 1.1em;
    transform-origin: 0 100px;
}
