.nav {
    /* flex box layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 0 0 20px;
    background-color: #20b000;
  }

.logo {
    width: 50px;
}

.button{
  margin: 14px;
}

