
.title {
    margin: 10px;
    font-family: 'Bungee Shade', sans-serif; 
    text-align: center;
}

ul {
    list-style: none;
   }

.text-field {
    margin: 10px;
}

.radio-group {
    justify-content: center;
}
